@using Microsoft.AspNetCore.Identity
@using WCC_Checkpoint2.Areas.Identity.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WCC_Checkpoint2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WCC_Checkpoint2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="nav-container">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/img/wildbook-logo.png" height="125" />
            </a>

            <nav class="custom-nav-item">
                <ul class="nav-list">
                    <li class="@(currentController == "Home" && currentAction == "Index" ? "active" : "")">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                            <img width="25" height="25" src="~/icons/home.svg" /> <span>Accueil</span>
                        </a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="@(currentController == "Book" && currentAction== "Index" ? "active" : "")">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">
                                <img width="25" height="25" src="~/icons/books.svg" /> <span>Livres</span>
                            </a>
                        </li>
                        <li class="@(currentAction == "ViewCart" ? "active" : "")">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="ViewCart">
                                <img width="25" height="25" src="~/icons/cart.svg" /> <span>Panier</span>
                            </a>
                        </li>

                    }
                </ul>

            </nav>
            <partial name="_LoginPartial" />
        </div>
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WCC_Checkpoint2
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
